body {
    background-color: #eeeeee;
}

.page-wrapper {
    margin: auto 5%;
}

.header-wrapper{
    margin: 2% 30%;
}

.center {
    text-align: center;
}

.mobile-header {
    display: none;
}

.movie-image-container {
    min-height: 300px;
}


.movie-info {
    text-align: center;
    padding-top: 10px;
}

.movie-name {
    text-align: left;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}
.movie-price {
    text-align: left;
    color: black;
}

.best-price {
    font-weight: bold;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-listing {
    list-style: none;
    margin: 2em;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    padding-top: 50px;
  }

.movie-price-wrapper {
    margin-bottom: auto;
  }
.movie-listing-item {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-height: 475px;
}

@media screen and (max-width: 500px) {
    .movie-listing {
        margin: 0;
        margin-left: -40px;
    }
}
@media screen and (max-width: 800px) {
    .movie-listing {
        margin-left: -30px;
    }
    .mobile-header {
        display: block;
        text-align: center;
    }
}